<div class="col-18">
  <button class="delete-visible btn" href="#"><span>Delete Visible (v)</span></button>
  <button class="delete-selected btn" href="#"><span>Delete Selected (x)</span></button>
  <button class="select-all btn" href="#"><span>Select All (a)</span></button>
  <button class="select-none btn" href="#"><span>Select None (n)</span></button>
  <div id="watched-exceptions-recordset">
    <%= render :partial => "recordset", :locals => {:watched_exceptions => @watched_exceptions} %>
  </div>
</div>
<div class="col-6 col-last">
  <h4>Search</h4>
  <% form_for :watched_exception, :url => watchtower_index_path, :html => {:id => "watchtower-search", :method => :get, :class => "group no-margin"} do |form| %>
    <div class="text col-4">
      <%= form.text_field :query, :class => "col-4" %>
    </div>
    <div class="col-2 col-last right">
      <button class="btn"><span>Search</span></button>
    </div>
  <% end %>
  <h4>Filter by Exception</h4>
  <ul class="filter-exception_class">
    <% WatchedException.exception_classes.each do |exception_class| %>
      <li><%= link_to exception_class, watchtower_index_path(:exception_class => exception_class) %></li>
    <% end %>
  </ul>
  <h4>Filter by Controller and Action</h4>
  <ul class="filter-controller_action">
    <% WatchedException.controller_actions.each do |controller_action| %>
      <li><%= link_to controller_action, watchtower_index_path(:controller_action => controller_action) %></li>
    <% end %>
  </ul>
</div>
<% content_for :footer do %>
  <script type="text/javascript">
    (function($) {
      $(document).data("authToken", "<%= form_authenticity_token %>");
      $.watchtower();
    })(jQuery);
  </script>
<% end %>