<div class="content-header">
  <h2><%= @watched_exception.name %></h2>
  <h3><%= h @watched_exception.message %></h3>
</div>
<div class="col-8">
  <dl>
    <dt>Exception</dt>
    <dd><code><%= @watched_exception.exception_class %></code></dd>
    <dt>Controller / Action</dt>
    <dd><code><%= @watched_exception.controller_action %></code></dd>
    <dt>Parameters</dt>
    <dd><code><%= @watched_exception.parameters %></code></dd>
    <dt>Format</dt>
    <dd><code><%= h @watched_exception.format %></code></dd>
    <dt>Application Path</dt>
    <dd><code><%= h @watched_exception.application_path %></code></dd>
  </dl>
</div>
<% if @watched_exception.backtrace %>
  <div class="col-16 col-last">
    <dl>
      <dt>Backtrace</dt>
      <dd class="bt"><code class="backtrace"><pre><%= h @watched_exception.backtrace.strip %></pre></code></dd>
    </dl>
  </div>
<% end %>